* {
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
   }

header{
   *{
    text-decoration: none;
   }
   .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
    .logo{
        max-width: 85px;
    }
    .pawpaw a{
        color: black;
        font-size: 60px;
    }
    li{
        list-style: none;
        display: inline-block;
    }
    li a{
        color: black; 
        font-size: 20px;
        font-weight: bold;
        margin-right: 25px;
    }
    background-color: #ffedca;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
}

main{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
padding: 20px;

h2{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    grid-column: span 2;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 40px;
}
p{
    font-size: 20px;
}
}



#back-to-top{
    position: fixed;
    bottom: 30px; 
    right: 30px;  
    background-color: #ffedca;
    border: none;
    border-radius: 50px; 
    padding: 15px 30px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

#back-to-top:hover{
    background-color: #ffc107;
}


